#app{
    nav{
        ul{
            padding-top: 5px;
            li{
                font-size: 15px;
                cursor: pointer;
                .is_active{
                    font-weight: 600;
                    color: #1892ca !important;
                }
            }
        }
    }
    .user_image{
        img{
            height: 100px;
        }
    }
    .category_list{
        list-style: none!important;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        li{
            background-color: $brand-primary;
            color: white;
            margin: 0.8rem 0.8rem 0 0;
            width: 120px;
            text-align: center;
            border-radius: 2px;
            padding: 0.4rem;
        }
    }

    .details_image_wrapper{
        height: 135px;
        .details_image div{
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: center center !important;
            height: 135px !important;
            border-radius: 3px;
        }
    }
}

