@media screen and (min-width: 768px) and (max-width: 992px) {
    .user_image{
        img{
            height: 75px!important;
        }
    }
}

@media screen and (max-width:768px) {
    // Jumbotron
    #slide_in_l{
        h1{
            font-size: 3rem!important;
        }
        .lead{
            display: none;
        }
    }
    .search_card{
        h3{
            display: none;
        }
    }

    // Admin home
    .category_list{
        text-align: center;
        li{
            display: inline-block;
        }
    }
    .user_image_wrapper{
        text-align: center;
    }

    // Admin orders
    td{
        font-size: 12px!important;
    }
    .table_dishes{
        display: none;
    }
    .table_total_price{
        display: none;
    }
}

@media screen and (max-width:992px) {
    .right_j{
        justify-content: center!important;

    }
    #slide_in_l, .lead{
        text-align: center!important;
        width: 100%!important;
        margin: 0 0 1rem 0!important;
    }
    
}

